name: Update Calypso cores
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  synthesis:
    permissions:
      contents:
        write
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Reduce docker footprint
        run: sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/hostedtoolcache
      - name: Reduce further
        run: docker system prune -a -f
      - name: Repository checkout
        uses: actions/checkout@v4
      - name: Core generation
        run: docker run --rm -v ${{ github.workspace }}:/build ghcr.io/teiram/calypso-quartus-docker:0.4 /usr/local/bin/build-images
